//fonts
$main-font: Raleway;
$secondfont: roboto;
//colors
$main-font-color: #111111;
$headerbackground: #f5f5f5;
$scrol: #000000;
$checkbox: #cccccc;
$productname: #9e3500;
$pagenumber: #393846;
$btntext: white;
$border: #e5e5e5;
$lightgrey: #7e7e7e;
